* {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
.star {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(12, 1fr);
}
.g-star {
  grid-column-start: 9;

  grid-row-end: 3;
}
.title {
  color: rgb(32, 32, 39);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 24px;
  max-width: 768px;
}

.top {
  height: 710px;
  background: rgb(225, 255, 143);
  background-image: url(img/Bstar.png), url(img/Star1.png), url(img/Star2.png),
    url(img/Star3.png), url(img/Star4.png);
  background-repeat: no-repeat;
  background-position: calc(100% - -480px) calc(100% - 1px),
    calc(100% - 415px) calc(100% - 59px), 63px 94px, 156px 69px, 948px 538px;
}
.text {
  color: rgb(32, 32, 39);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 50px;
  max-width: 740px;
  &__weight {
    color: rgb(32, 32, 39);
  }
}

.btn {
  display: inline-block;
  width: 247px;
  height: 66px;

  box-sizing: border-box;
  border: 1px solid rgb(32, 32, 39);
  border-radius: 60px;
  background: rgb(32, 32, 39);
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 141.69%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 16px;
  &__mobile {
    display: none;
  }
}
.btn:hover {
  background: rgba(255, 255, 255, 1);
  color: rgba(32, 32, 39, 1);
}

.header {
  margin-top: 196px;
  position: absolute;
}
.blockline {
  overflow: hidden;
  position: relative;
}
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.textline {
  width: max-content;
  height: 90px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(50px);
  background: rgb(188, 236, 48);
  flex-wrap: nowrap;
  overflow: hidden;
  max-height: 87px;
  margin-left: -152px;
  justify-content: space-between;

  animation: scroll-left 30s linear infinite;

  &__text {
    color: rgb(32, 32, 39);
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding: 0 46px;
    flex-shrink: 0;
  }
}

.games-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  background: rgb(32, 32, 39);
}
.games-title {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 94px;
}
.games-text {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  max-width: 788px;
}

.cart {
  max-height: 1060px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 32px;
  align-items: start;
  margin-top: 48px;

  &__games {
    display: flex;
    flex-direction: column;
    grid-column: span 4;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    transition: 1s;
  }

  &__games:hover {
    transform: scale(1.05);
  }

  &__games_up {
    margin-top: -40px;
  }

  &__img {
    height: 314px;
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: 1s;
  }
  &__img:hover {
    transform: scale(1.2);
  }

  &__name {
    border-radius: 52.58px;
    background: rgb(247, 247, 247);
    color: rgb(32, 32, 39);
    font-size: 16px;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 32px;
    margin-left: 32px;
    width: fit-content;
    padding: 8px 16px 10px 16px;
  }

  &__text {
    color: rgb(32, 32, 39);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: 32px;
    margin-right: 32px;
  }
}
.cart__img_1,
%cart__img_1 {
  background-image: url(img/game1.png);
}
.cart__img_2,
%cart__img_2 {
  background-image: url(img/game2.png);
}
.cart__img_3,
%cart__img_3 {
  background-image: url(img/game3.png);
}
.cart__img_4,
%cart__img_4 {
  background-image: url(img/game4.png);
}
.cart__img_5,
%cart__img_5 {
  background-image: url(img/game5.png);
}
.cart__img_6,
%cart__img_6 {
  background-image: url(img/game6.png);
}
.minigames-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
  background: rgb(32, 32, 39);
  position: relative;
  height: 3549px;
}
.minigames-block__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.product {
  max-height: 1060px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 32px;
  align-items: start;
  margin-top: 48px;
  position: relative;
  &__games {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    grid-column: span 12;
    max-height: 500px;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0px 20px 67px -12px rgba(0, 0, 0, 0.13);
    background: rgb(255, 255, 255);
    border-radius: 30px;
    transition: 1s;
    &_rev {
      flex-direction: row-reverse;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__img {
    width: 600px;
    height: 500px;
    border-radius: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &_1 {
      @extend %cart__img_1;
    }
    &_2 {
      @extend %cart__img_2;
    }
    &_3 {
      @extend %cart__img_3;
    }
    &_4 {
      @extend %cart__img_4;
    }
    &_5 {
      @extend %cart__img_5;
    }
    &_6 {
      @extend %cart__img_6;
    }
  }
  &__box {
    margin-left: 48px;
  }
  &__name {
    font-size: 48px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0px;
    text-align: left;
    color: rgb(32, 32, 39);
    margin-top: 48px;
    margin-bottom: 24px;
  }

  &__text {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: rgb(32, 32, 39);
    margin-top: 16px;
    margin-bottom: 36px;
    margin-right: 32px;

    max-width: 490px;
  }
  &__but {
    width: 247px;
    height: 66px;
    padding: 16px 28px 16px 28px;
    border-radius: 60px;
    background: rgb(32, 32, 39);
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 141.69%;
    letter-spacing: 0%;
    text-align: center;
  }
  &__but:hover {
    background: rgb(255, 255, 255);
    color: rgb(32, 32, 39);
    border: 1px solid rgb(0, 0, 0);
  }
}

.footer {
  height: 150px;
  background: rgb(189, 237, 53);
  color: rgb(0, 0, 0);

  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 61px;
}

@import "tablet";
@import "mobile";
