@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    text-align: center;
  }
  .textline {
    height: 71px;
  }

  .textline__text {
    font-size: 24px;
    padding: 0 30px;
  }

  .textline__star {
    width: 28px;
    height: 28px;
  }
}
